################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/RX.Demo/bin/Debug/netcoreapp3.1
/RX.Demo/obj/Debug/netcoreapp3.1
/RX.Demo/obj/Release/netcoreapp3.1
